{% extends 'base.html.twig' %}

{% block title %}Hello BooksController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {{ form_start(form) }}
        {{ form_row(form.author) }}
        {{ form_row(form.title) }}
        {{ form_row(form.release_date) }}
        {{ form_row(form.description) }}
        {{ form_row(form.isbn) }}
        {{ form_row(form.format) }}
        {{ form_row(form.number_of_pages) }}
        <button type="submit">Add book</button>
    {{ form_end(form) }}
    <h3>{{ message }}</h3>
</div>
{% endblock %}
